body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

header {
    background-color: #ff0000; /* Red background color */
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo img {
    width: 100px; /* Adjust as needed */
    height: auto;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block; /* Change to 'display: block;' to stack menu items vertically */
}

nav ul li {
    margin-right: 20px;
    display: inline-block; /* Adjust display property for individual menu items */
}

nav ul li a {
    nav ul li a {
        text-decoration: none;
        color: #fff;
        transition: color 0.3s ease;
        position: absolute;
        padding-left: 632px;
    }
}

nav ul li a:hover {
    color: #ff6600;
}


.cta .btn {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.cta .btn:hover {
    background-color: #cc5500;
    transform: scale(1.05);
}
.hero {
    background-image: url('burger_hero.jpg'); /* Replace 'burger_hero.jpg' with your image */
    background-size: cover;
    background-position: center;
    height: 80vh; /* Adjust the height as needed */
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
    padding: 50px;
}

.hero-content {
    max-width: 600px;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.hero .btn {
    padding: 10px 20px;
    background-color: #ff6600;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0,
